.contador-container{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cinza{
    filter: grayscale();
}

.botao-contador{
    border: none;
    background-color: transparent;
    font-size: 1.2em;
}

.botao-contador:focus,
.botao-contador:focus-visible {
  outline: none;
}