.emoji {
  .situacao {
    font-size: 5em;
    margin: 30px;
  }

  .acoes {
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    row-gap:10px;

    button{
        width: 45%;
    }

    .button-grande{
        width: 95%;
    }
  }
}
