.emoji {
  display: flex;
  align-items: center;
  width: 650px;
  justify-content: space-between;
  height: 300px;

  .emoji-div{
    border-right: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .situacao {
    font-size: 5em;
  }

  .acoes {
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    row-gap:10px;

    button{
        width: 45%;
    }

    .button-grande{
        width: 95%;
    }
  }

  .emoji-categorias{
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}
